.DS_Store
.mixin.out/
TombManyGraves/
bendspacks/
mods/
logs/
saves/
options.txt
minecraftinstance.json
*.log
usercache.json
usernamecache.json
XaeroWaypoints
config/splash.properties
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
config/acronym
config/InvTweaks.cfg
config/xaerominimap.txt
config/ZombieAwareness/MobLists.cfg
config/netherex/biomes
config/netherex/trades
