.mixin.out/
TombManyGraves/
bendspacks/
mods/
logs/
saves/
options.txt
minecraftinstance.json
*.log
usercache.json
usernamecache.json
config/splash.properties
config/jei/worldSettings.cfg
config/acronym
config/InvTweaks.cfg
config/xaerominimap.txt
